<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.text_field :author_name, list: "authors_autocomplete" %>
  <datalist id="authors_autocomplete">
    <% Author.all.each do |author| %>
      <option value="<%= author.name %>">
    <% end %>
  </datalist>

  <%= f.collection_select :genre_id, Genre.all, :id, :name %>

  <input id="song_notes_1" name="song[note_ids][]">
  <input id="song_notes_2" name="song[note_ids][]">

  <%= f.submit %>
<% end %>
