<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.text_field :author_name, list: "authors_autocomplete" %>
  <datalist id="authors_autocomplete">
    <% Author.all.each do |author| %>
      <option value="<%= author.name %>">
    <% end %>
  </datalist>

  <%= f.submit %>
<% end %>
